# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-cache.lib
*-rescue.lib
*-save.pro
*-save.kicad_pcb

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses
*.bin

# Exported BOM files
*.xml
*.csv

# snapshots (plots.zip files go for production. that is why we keep them!)
*.tar
*.bz2
*.zip
!plots.zip

# gerber and gerber related files
*.gbr
*.rpt
*.drl
*.ps

# huge files no idea for what
fp-info-cache

